.s-invert-section {
    h1, h2, h3, h4, h5, h6, & {
        color: white;
    }
}


.t-purple-section,
.t-blue-section,
.t-green-section,
.t-red-section {
    h1, h2, h3, h4, h5, h6, p, & {
        color: white;
    }

}


.t-purple-section {
    h1, h2, h3, h4, h5, h6, .lead, a  {
        color: #A84C98;
    }

    article a,
    a {
        color: #A84C98;
        text-decoration-color: rgba(#A84C98, 0.2);
        &:hover {
            color: #A84C98;
            text-decoration-color: #A84C98;
        }
    }

    p {
        color: #000000;
    }

    background-color: #F6EDF3;
}

.t-green-section {
    h1, h2, h3, h4, h5, h6, .lead, a  {
        color: #11A636;
    }

    article a,
    a {
        color: #11A636;
        text-decoration-color: rgba(#11A636, 0.2);
        &:hover {
            color: #11A636;
            text-decoration-color: #11A636;
        }
    }

    p {
        color: #000000;
    }
    background-color:  #F2F6EE;
}

.t-red-section {
    h1, h2, h3, h4, h5, h6, .lead, a  {
        color: #ae0b05;
    }

    article a,
    a {
        color: #ae0b05;
        text-decoration-color: rgba(#ae0b05, 0.2);
        &:hover {
            color: #ae0b05;
            text-decoration-color: #ae0b05;
        }
    }

    p {
        color: #000000;
    }
    background-color:  #FAEEEC;
}

.is-child-theme .t-blue-section {
    h1, h2, h3, h4, h5, h6, .lead, a  {
        color: #0069b4;
    }

    .box.box-filled {
        h3, p, span {
            color: white;
        }
        background-color: #0069b4;
    }

    article a,
    a {
        color: #0069b4;
        text-decoration-color: rgba(#0069b4, 0.2);
        &:hover {
            color: #0069b4;
            text-decoration-color: #0069b4;
        }
    }

    p {
        color: #000000;
    }
    background-color:  #EEF3F6;
}

.is-child-theme .box.box-filled.box--lightblue {
    background-color: #EEF3F6;
}

