.s-invert-section {
    h1, h2, h3, h4, h5, h6, & {
        color: white;
    }
}


.t-purple-section,
.t-blue-section,
.t-green-section,
.t-red-section {
    h1, h2, h3, h4, h5, h6, p, & {
        color: white;
    }

}


.t-purple-section {
    background-color: #A84C98;
}
.t-purple-red {
    background-color: #A84C98;
}
.t-purple-blue {
    background-color: #A84C98;
}
.t-purple-green {
    background-color: #11A636;
}