// General
.project-header {
    img.project-header__image {
        width: 100%;
        display: block;
    }
    .project-header__body {
        width: 100%;
        padding: 24px 0 0 0;
    }

    .project-header__meta {
        display: block;
        margin-bottom: 8px;
    }

    [data-tooltip]::after {
        white-space: break-spaces;
        width: 8px * 20;
    }
}

// XS Specific
@media only screen and (max-width: 32.5em - 0.0625em) {
    .project-header {
        overflow: hidden;

        .project-header__column.project-header__column--image {
            margin-left: -24px;
            margin-right: -24px;
            width: calc(48px + 100%);
        }        
    }
}

// Tablet and up
@media only screen and (min-width: 56em) {
    .project-header {
        .grid {
            flex-direction: row-reverse;
        }

        img.project-header__image {
            width: 100%;
            display: block;
        }
    
        .project-header__column.project-header__column--content {
            background: white;
            display: flex;
            align-items: center;
        }
    
    
        .grid {
            flex-direction: row-reverse;
        }
            
        .grid {
            margin-left: inherit;
            margin-right: inherit;
            box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.07);
        }
        
    
        .grid > * {
            padding-left: inherit;
            padding-right: inherit;
        }
    
        .project-header__body {
            padding: 48px;
        }
        
    }
}

// @media only screen and (min-width: 769px) {
//     .project-header {
//         .grid {
//             flex-direction: row-reverse;
//         }
//     }
// }
