//styling for single project hero

// FIX PADDING ON __CONTENT FOR MOBILE UNITS
.project-hero {
    padding-top: 0;
    .c-image__image {
        width:100%;
    }

    .project-hero__image-container {
        display: none;
    }

    .project-hero__container {
        background-color: white;
    }

    @media only screen and (min-width: 56em) {
        padding-top: 128px;
        .project-hero__image-container {
            display:block;
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            z-index: -1;
            &::after {
                content: "";
                height: 64px;
                width: 100%;
                bottom:0;
                left:0;
                position: absolute;
                background-color: white;
            }

            .project-hero__image-background {
            background-repeat:no-repeat;
            background-size:cover;
            filter:blur(30px);
            top:0;
            }
        }
    }
}