
.box.box--project {
    .box__image {
        background-size: contain;
        background-repeat: no-repeat;
    }

    .box__content {
        padding: 16px 32px;
    }

    .box__meta {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4px;
        font-size: 14px;
    }

    .box__organisation {
        font-weight: bold;
    }

    .box__organisation + .box__status {
        margin-left: 8px;
    }

    .box__tags,
    .box__status {
        color: #464646;
    }

    .box__status {
        font-size: 11px;
        padding: 4px 6px;
        background-color: #f4f4f4;
        border-radius: 15px;
        font-weight: bold;
    }

    .box__status.box__status--testas {
        background-color: #FFECB3;
    }
    .box__status.box__status--anvands {
        background-color: #C8E6C9;
    }
    .box__status.box__status--utforskas {
        background-color: #B3E5FC;
    }

    .box__status.box__status--avslutat,
    .box__status.box__status--pausad {
        background-color: #FFCCBC;
    }

    .box__title {
        margin-bottom: 8px;
    }
}

a.box.box--project:hover {
    text-decoration: none;

    .box__title {
        text-decoration: underline;
    }
}