
.box.box--project {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .box__image {
        background-size: contain;
        background-repeat: no-repeat;
    }

    .box__content {
        padding: 16px 32px;
    }

    .box__meta {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4px;
        font-size: 16px;
    }

    .box__organisation {
        font-weight: bold;
    }

    .box__organisation + .box__status {
        margin-left: 8px;
    }

    .box__tags,
    .box__status {
        color: #464646;
    }

    .box__status {
        font-size: 11px;
        padding: 4px 6px;
        background-color: #f4f4f4;
        border-radius: 15px;
        font-weight: bold;
    }

    .box__status.box__status--testas {
        background-color: #FFECB3;
    }
    .box__status.box__status--anvands {
        background-color: #C8E6C9;
    }
    .box__status.box__status--utforskas {
        background-color: #B3E5FC;
    }

    .box__status.box__status--avslutat,
    .box__status.box__status--pausad {
        background-color: #FFCCBC;
    }

    .box__title {
        margin-bottom: 8px;
    }
}


.is-child-theme .box.box--project.box--feature {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    
    &, 
    .box__title, 
    .box__meta {
        color: white;
    }

    .box__content {
        padding: 24px;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    .box__image, .box__image::after {
        border-radius: 2px;
    }

    .box__image::after {
        content: '';
        background: white;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+14,0.39+61,0.38+100 */
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0) 14%, rgba(0,0,0,0.39) 61%, rgba(0,0,0,0.38) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 14%,rgba(0,0,0,0.39) 61%,rgba(0,0,0,0.38) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 14%,rgba(0,0,0,0.39) 61%,rgba(0,0,0,0.38) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#61000000',GradientType=0 ); /* IE6-9 */

        z-index: 0;
    }

    .box__title {
        font-size: 24px;
        line-height: 1.166666;
    }
    
}

.is-child-theme .box.box--vertical {
    h3.box__title {
        font-size: 18px;
    }

    .box__container {
        align-items: flex-start;
        display: flex;
        flex-direction: row;
    }

    .box__image {
        margin-right: 8px;
        max-width: 25%;
        flex: 1 1 auto;
    }
    .box__content {
        padding-top: 0;
        max-width: 75%;
        flex: 1 1 auto;
    }
}

a.box.box--project:hover {
    text-decoration: none;

    .box__title {
        text-decoration: underline;
    }
}