$progressbar-color-value: #11A636;
$progressbar-color-value-disabled: #11A636;
$progressbar-color-background: #E5E5E5;
$progressbar-color-explainer: #A3A3A3;
$progressbar-border-radius: 8px;
$progressbar-height: 10px;

.c-progressbar {
    display: block;
    width: 100%;
    height: $progressbar-height;
    background-color: $progressbar-color-background;
    border-radius: $progressbar-border-radius;
    overflow: hidden;
    position: relative;
    .c-progressbar__value {
        height: 100%;
        display: block;
        background-color: $progressbar-color-value;
    }
    .c-progressbar__value.c-progressbar__value--disabled {
        background-color: $progressbar-color-value-disabled;
    }
}