$progressbar-color-value: #11A636;
$progressbar-color-value-disabled: #707070;
$progressbar-color-background: #E5E5E5;
$progressbar-border-radius: 8px;
$progressbar-height: 10px;

.c-progressbar {
    display: block;
    width: 100%;
    height: $progressbar-height;
    background-color: $progressbar-color-background;
    border-radius: $progressbar-border-radius;
    overflow: hidden;
    position: relative;
    .c-progressbar__value {
        height: 100%;
        display: block;
        background-color: $progressbar-color-value;
    }
    .c-progressbar__value.is-disabled {
        background-color: $progressbar-color-value-disabled;
    }
}