.sticky-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 79px;
    z-index: 9997;
}

.sticky-bar.sticky-bar--content {
    background-color: white;
    border-top: solid 1px #E7E7E7;
    border-bottom: solid 1px #E7E7E7;
}

